* {
    box-sizing: border-box;
    padding: 1px;
}
a {
    color:white
}

.header {
    padding: 20px;
    background-color: #035c33;
}

.header nav { 
    margin-right: 20px;
    float: right;
    
}

.header nav ul {
    list-style-type: none;
    margin:0;
}

.header nav ul li {
    display: inline;
    margin-left: 30px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div {
    box-sizing: border-box;
    padding: auto;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 800px;
}
.boxx {
    box-sizing: content-box;
    height: 10px;
    margin-left: 0;
    background-color:red;
}
.mynewwebsite {
    color:brown;
    font-weight: bolder;
}


.anywhere {
    font-size:xx-large;
    font-weight: bolder;
}
p {
    position: relative;
    margin-bottom:10px;
    margin-left: 700px;
}
.contact {
    display: flex;
    align-items: flex-end;
    background-color: #035c33;
    margin-left: 0px;
    
}
.bigbox {
    display: flex;
    height: 600px;
    width: 1600px;
    justify-content: center;
    align-items: stretch;
}

figcaption {
       margin-left: -450px;
       margin-top:240px;
}
.form {
    padding: 5px;
}
.contact-form {
    padding-bottom: 10px;
    font-size: 100%;
    position: relative;
    right: 100px;
}
.form label {
    display: inline;
}
.button {
    position: relative;
    margin-left: 800px;
} 
.button:hover {
   background-color: black;
   color:white; 
}
