* {
    box-sizing: border-box;
    padding: 1px;
}
a {
    color:white
}

.header {
    padding: 20px;
    background-color: #035c33;
}

.header nav { 
    margin-right: 20px;
    float: right;
    
}

.header nav ul {
    list-style-type: none;
    margin:0;
}

.header nav ul li {
    display: inline;
    margin-left: 30px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div {
    box-sizing: border-box;
    margin: 0;
    padding: auto;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 700px;
}
.boxx {
    box-sizing: content-box;
    height: 10px;
    margin-left: 0;
    background-color:red;
}
.mynewwebsite {
    color:brown;
    font-weight: bolder;
}

.comingsoon {
    box-sizing:border-box;
    display: block;
    padding: 200px;
    margin: 0;
    margin-left:400px;
}
.anywhere {
    font-size:xx-large;
    font-weight: bolder;
}
p {
    position: relative;
    margin-bottom:10px;
    margin-left: 700px;
}
.contact {
    display: flex;
    align-items: flex-end;
    background-color: #035c33;
    margin-left: 0px;
    
}
.bigbox {
    display: flex;
}
.img {
    margin-left: 100px;
}
figcaption{
        margin-left: -150px;
        margin-top: 80px;
        font-size: 10px;
    }